.display{
    grid-column: span 4;
    border-bottom: 1px solid whitesmoke;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1rem;
    overflow: hidden;
}